<ul>
<% @events.each do |event| %>
  <li>
    <%= link_to(event.title, event_path(event)) %>
    |
    <%=link_to(User.find_by(id: event.user_id).name, user_path(event.user_id)) if User.find_by(id: event.user_id) %>
  </li>
<% end %>

</ul>