<header>
  <%=link_to('PRIVATE EVENTS', root_path)%>

  <ul>
    <li>
      <%= link_to('Sign up', signup_path) %> | 
    </li>

    <li>
      <%= link_to('Log in', login_path) %> | 
    </li>
  </ul>
</header>

<% flash.each do |key, value| %>
  <div>
    <%=value%>        
  </div>  
<% end %>